<<<<<<< HEAD
<<<<<<< HEAD
/*Chips Styles*/
.chip-outline {
  background-color: transparent !important;
  border: 1px solid $gray-500 !important;
}
=======
=======
>>>>>>> 4d2bbb99f7304fe93e114a6909260496de0e6fc0
/*Chips Styles*/
.chip-outline {
  background-color: transparent !important;
  border: 1px solid $gray-500 !important;
}
<<<<<<< HEAD
>>>>>>> 4d2bbb9... backbone for the dashboard
=======
>>>>>>> 4d2bbb99f7304fe93e114a6909260496de0e6fc0
