<<<<<<< HEAD
/*Chips Styles*/
.chip-outline {
  background-color: transparent !important;
  border: 1px solid $gray-500 !important;
}
=======
/*Chips Styles*/
.chip-outline {
  background-color: transparent !important;
  border: 1px solid $gray-500 !important;
}
>>>>>>> 4d2bbb9... backbone for the dashboard
