<<<<<<< HEAD
/*Drawer Styles*/

.drawer {
  width: 250px;
}

.full-drawer {
  width: 100%;
=======
/*Drawer Styles*/

.drawer {
  width: 250px;
}

.full-drawer {
  width: 100%;
>>>>>>> 4d2bbb9... backbone for the dashboard
}