
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration:  none;
    color: #3ca9e2;
}

.container{
    width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: purple;
    position: relative;
    z-index: -1;
}

.login-box {
    width: 420px;
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50, -50);
    background-color:purple;
    border-radius: 10px;
}

.top-box{
    padding: 60px 80px;
}

.logo img {
    display: block;
    width: 30%;
    margin-top: -20px;
    align-self: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

title h1{
    font-weight: bold;
    font-size: 20px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    padding: 12px 0;
    margin: 16px 0;
    border-radius: 5px;
    background-color: #e3e3e3;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-family: sans-serif;
    float: left;
    width: 100%;
    margin: 0 16px;
    color: #171717;
}

.textbox input::placeholder {
    color: violet;
}

.checkbox {
    color: white;
    font-size: 12px;
}

.checkbox label {
    text-align: left;
}

.checkbox a {
    color: white;
    float: right;
}

.button {
    width: 50%;
    border-radius: 40%;
    padding: 8px;
    outline: none;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 50%;
    margin-bottom: 10px;
    float: center;
    color: purple;
    background-color: white;
}

.button:hover{
    background-color: rgb(33, 116, 194);
}

.signup-box{
    width: 100px;
    background-color: #e3e3e3;
    padding: 25px;
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}